
.section {
  width: auto;
  margin-top: 10px  !important;
}
.button{
   margin-right: 40px !important;
}
    

.box{
    width: 100%;
   
    /* background-color: var(--color-black); */
    /* color: var(--color-white); */

   
    display: flex;
     align-items: center;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    /* gap: 20px; */
}

.h3{
    margin-left: -105px !important;
}
.home{
    background-color: var(--color-black);
    color: var(--color-white);
}