
.section {
  width: auto;
  display: block;
  margin-top: 10px  !important;

}

.container{
    margin-top: 20px;
    margin-bottom: 20px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}

.box{
    width: 100%;
   
    /* background-color: var(--color-black); */
    /* color: var(--color-white); */

   
    display: flex;
     align-items: center;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    /* gap: 20px; */
}

/* .h3{
    margin-left: -105px !important;
} */
.home{
    background-color: var(--color-black);
    color: var(--color-white);
}